

.text-error{
    color:red;
}
.invalid{
    border: 1px solid rgb(255, 41, 41);
    background:rgb(255, 200, 200);
    color:var(--primary-white)
}
@media (max-width: 450px) {
    .text-error{
        font-size: 12px;
    }
}