.text-error {
  color: rgb(245, 80, 80);
  font-size: 14px !important;
}
.invalid {
  border: 1px solid rgb(245, 80, 80);
  
  color: var(--primary-white);
}
@media (max-width: 450px) {
  .text-error {
    font-size: 12px;
  }
}
